<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %highlight([%level]) %magenta([%thread]) %cyan(%logger{36}) - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- disables DEBUG + TRACE globally -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
